.opacity {
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: "alpha(opacity=75)";
}

.anime {
  -webkit-transition: color .3s linear, background-color .3s linear, opacity .3s linear, border-color .3s linear;
  -moz-transition: color .3s linear, background-color .3s linear, opacity .3s linear, border-color .3s linear;
  -ms-transition: color .3s linear, background-color .3s linear, opacity .3s linear, border-color .3s linear;
  -o-transition: color .3s linear, background-color .3s linear, opacity .3s linear, border-color .3s linear;
  transition: color .3s linear, background-color .3s linear, opacity .3s linear, border-color .3s linear;
}

/* clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.inlineBlock {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*----------------------------------------------------
	media query
----------------------------------------------------*/
/* smart phone
-------------------------------------------------- */
/* tablet
-------------------------------------------------- */
/* pc
-------------------------------------------------- */
