@charset "utf-8";

/* ===================================================================
CSS information

 File Name  : layout.css
=================================================================== */


#wrap{}

#header{}

#gNavi{}

#main{
	padding: 20px ;
	background-color: #fff;

	overflow: hidden;
	_zoom: 1;
}


#footer{}