@charset "UTF-8";
/*! sanitize.css v4.1.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Display definitions ========================================================================== */
/** Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and Firefox. 2. Add the correct display in IE. */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { /* 1 */ display: block; }

/** Add the correct display in IE 9-. */
audio, canvas, progress, video { display: inline-block; }

/** Add the correct display in iOS 4-7. */
audio:not([controls]) { display: none; height: 0; }

/** Add the correct display in IE 10-. 1. Add the correct display in IE. */
template, [hidden] { display: none; }

/* Elements of HTML (https://www.w3.org/TR/html5/semantics.html) ========================================================================== */
/** 1. Remove repeating backgrounds in all browsers (opinionated). 2. Add box sizing inheritence in all browsers (opinionated). */
*, ::before, ::after { background-repeat: no-repeat; /* 1 */ box-sizing: inherit; /* 2 */ }

/** 1. Add text decoration inheritance in all browsers (opinionated). 2. Add vertical alignment inheritence in all browsers (opinionated). */
::before, ::after { text-decoration: inherit; /* 1 */ vertical-align: inherit; /* 2 */ }

/** 1. Add border box sizing in all browsers (opinionated). 2. Add the default cursor in all browsers (opinionated). 3. Add a flattened line height in all browsers (opinionated). 4. Prevent font size adjustments after orientation changes in IE and iOS. */
html { box-sizing: border-box; /* 1 */ cursor: default; /* 2 */ font-family: sans-serif; /* 3 */ line-height: 1.5; /* 3 */ -ms-text-size-adjust: 100%; /* 4 */ -webkit-text-size-adjust: 100%; /* 5 */ }

/* Sections (https://www.w3.org/TR/html5/sections.html) ========================================================================== */
/** Remove the margin in all browsers (opinionated). */
body { margin: 0; }

/** Correct the font sizes and margins on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: .67em 0; }

/* Grouping content (https://www.w3.org/TR/html5/grouping-content.html) ========================================================================== */
/** 1. Correct font sizing inheritance and scaling in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** 1. Correct the height in Firefox. 2. Add visible overflow in Edge and IE. */
hr { height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** Remove the list style on navigation lists in all browsers (opinionated). */
nav ol, nav ul { list-style: none; }

/* Text-level semantics ========================================================================== */
/** 1. Add a bordered underline effect in all browsers. 2. Remove text decoration in Firefox 40+. */
abbr[title] { border-bottom: 1px dotted; /* 1 */ text-decoration: none; /* 2 */ }

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong { font-weight: inherit; }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** Add the correct font style in Android 4.3-. */
dfn { font-style: italic; }

/** Add the correct colors in IE 9-. */
mark { background-color: #ffff00; color: #000000; }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Correct the font size in all browsers. */
small { font-size: 83.3333%; }

/** Change the positioning on superscript and subscript elements in all browsers (opinionated). 1. Correct the font size in all browsers. */
sub, sup { font-size: 83.3333%; /* 1 */ line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -.25em; }

sup { top: -.5em; }

/* Remove the text shadow on text selections (opinionated). 1. Restore the coloring undone by defining the text shadow (opinionated). */
::-moz-selection { background-color: #b3d4fc; /* 1 */ color: #000000; /* 1 */ text-shadow: none; }

::selection { background-color: #b3d4fc; /* 1 */ color: #000000; /* 1 */ text-shadow: none; }

/* Embedded content (https://www.w3.org/TR/html5/embedded-content-0.html) ========================================================================== */
/* Change the alignment on media elements in all browers (opinionated). */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/** Remove the border on images inside links in IE 10-. */
img { border-style: none; }

/** Change the fill color to match the text color in all browsers (opinionated). */
svg { fill: currentColor; }

/** Hide the overflow in IE. */
svg:not(:root) { overflow: hidden; }

/* Links (https://www.w3.org/TR/html5/links.html#links) ========================================================================== */
/** 1. Remove the gray background on active links in IE 10. 2. Remove the gaps in underlines in iOS 8+ and Safari 8+. */
a { background-color: transparent; /* 1 */ -webkit-text-decoration-skip: objects; /* 2 */ }

/** Remove the outline when hovering in all browsers (opinionated). */
a:hover { outline-width: 0; }

/* Tabular data (https://www.w3.org/TR/html5/tabular-data.html) ========================================================================== */
/* Remove border spacing in all browsers (opinionated). */
table { border-collapse: collapse; border-spacing: 0; }

/* transform-style:  (https://www.w3.org/TR/html5/forms.html) ========================================================================== */
/** 1. Remove the default styling in all browsers (opinionated). 3. Remove the margin in Firefox and Safari. */
button, input, select, textarea { background-color: transparent; /* 1 */ border-style: none; /* 1 */ color: inherit; /* 1 */ font-size: 1em; /* 1 */ margin: 0; /* 3 */ }

/** Correct the overflow in IE. 1. Correct the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance in Edge, Firefox, and IE. 1. Remove the inheritance in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** 1. Prevent the WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. 2. Correct the inability to style clickable types in iOS and Safari. */
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; /* 2 */ }

/** Remove the inner border and padding in Firefox. */
::-moz-focus-inner { border-style: none; padding: 0; }

/** Correct the focus styles unset by the previous rule. */
:-moz-focusring { outline: 1px dotted ButtonText; }

/** Correct the border, margin, and padding in all browsers. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: .35em .625em .75em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 2 */ white-space: normal; /* 1 */ }

/** 1. Remove the vertical scrollbar in IE. 2. Change the resize direction on textareas in all browsers (opinionated). */
textarea { overflow: auto; /* 1 */ resize: vertical; /* 2 */ }

/** Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] { padding: 0; }

/** Correct the cursor style on increment and decrement buttons in Chrome. */
::-webkit-inner-spin-button, ::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding and cancel buttons in Chrome and Safari for OS X. */
::-webkit-search-cancel-button, ::-webkit-search-decoration { -webkit-appearance: none; }

/** Correct the text style on placeholders in Chrome, Edge, and Safari. */
::-webkit-input-placeholder { color: inherit; opacity: .54; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* WAI-ARIA (https://www.w3.org/TR/html5/dom.html#wai-aria) ========================================================================== */
/** Change the cursor on busy elements (opinionated). */
[aria-busy="true"] { cursor: progress; }

/* Change the cursor on control elements (opinionated). */
[aria-controls] { cursor: pointer; }

/* Change the cursor on disabled, not-editable, or otherwise inoperable elements (opinionated). */
[aria-disabled] { cursor: default; }

/* User interaction (https://www.w3.org/TR/html5/editing.html) ========================================================================== */
/* Remove the tapping delay on clickable elements (opinionated). 1. Remove the tapping delay in IE 10. */
a, area, button, input, label, select, textarea, [tabindex] { -ms-touch-action: manipulation; /* 1 */ touch-action: manipulation; }

/* Change the display on visually hidden accessible elements (opinionated). */
[hidden][aria-hidden="false"] { clip: rect(0, 0, 0, 0); display: inherit; position: absolute; }

[hidden][aria-hidden="false"]:focus { clip: auto; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

img { max-width: 100%; height: auto; }

.d-b { display: block; }
.d-ib { display: inline-block; }
.d-i { display: inline; }

.f-l { float: left; }
.f-r { float: right; }

.clear { clear: both; }

.clearfix:after { content: ""; display: block; clear: both; }

.color-font { color: #333; }
.color-main { color: #67c3b4; }
.color-sub { color: #67c3b4; }
.color-accent { color: #cc3e55; }
.color-attention { color: #d00; }

.ta-l { text-align: left; }
.ta-c { text-align: center; }
.ta-r { text-align: right; }

ul { list-style-type: none; }
ul.disc { list-style-type: disc; padding: 0 0 0 1.5em; }
ul.circle { list-style: circle; padding: 0 0 0 1.5em; }
ul.square { list-style: square; padding: 0 0 0 1.5em; }

ol { padding: 0 0 0 1.5em; }

@-webkit-keyframes fadein { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes fadein { 0% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.btn-default { display: inline-block; border-radius: 4px; padding: .5em 1em .35em; text-decoration: none; }
.btn-default:hover { cursor: pointer; }
.btn-l.btn-default { padding: .6em 3em .5em; font-size: 1.25em; }
.btn-s.btn-default { font-size: .8em; }

.btn-default { border: solid 1px #ccc; background-color: #f6f6f6; box-shadow: 0 3px 0 0 #b3b3b3; color: #333 !important; text-align: center; }
.btn-default:hover { background-color: #fcfcfc; }
.btn-default:active { position: relative; top: 3px; box-shadow: none; }
.btn-main { border: solid 1px #67c3b4; background-color: #67c3b4; box-shadow: 0 3px 0 0 #52a597; color: #fff !important; }
.btn-main:hover { background-color: #8cd1c6; }
.btn-main:active { position: relative; top: 3px; box-shadow: none; }
.btn-sub { border: solid 1px #67c3b4; background-color: #67c3b4; box-shadow: 0 3px 0 0 #52a597; color: #fff !important; }
.btn-sub:hover { background-color: #8cd1c6; }
.btn-sub:active { position: relative; top: 3px; box-shadow: none; }
.btn-accent { border: solid 1px #cc3e55; background-color: #cc3e55; box-shadow: 0 3px 0 0 #9f3848; color: #fff !important; }
.btn-accent:hover { background-color: #d76679; }
.btn-accent:active { position: relative; top: 3px; box-shadow: none; }

textarea, input, select { padding: 3px; }

[type="submit"], button { cursor: pointer; }

[type="text"], [type="password"], [type="email"], [type="url"], [type="number"], select, textarea { border: 1px solid #ccc; border-radius: 2px; background-color: #fbfbfb; }
[type="text"]:focus, [type="password"]:focus, [type="email"]:focus, [type="url"]:focus, [type="number"]:focus, select:focus, textarea:focus { border-color: #999; background-color: #fefefe; }

::-webkit-input-placeholder { color: #999; }

::-moz-placeholder { color: #999; }

:-ms-input-placeholder { color: #999; }

.placeholder { color: #999; }

@font-face { font-family: 'webicon'; src: url("../fonts/webicon.eot?rshu5f"); src: url("../fonts/webicon.eot?#iefixrshu5f") format("embedded-opentype"), url("../fonts/webicon.woff?rshu5f") format("woff"), url("../fonts/webicon.ttf?rshu5f") format("truetype"), url("../fonts/webicon.svg?rshu5f#webicon") format("svg"); font-weight: normal; font-style: normal; }
.icon:before, .icon:after, [class^="icon-"], [class*=" icon-"] { font-family: 'webicon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-plus:before { content: "\f067"; }

.icon-minus:before { content: "\f068"; }

.icon-calendar:before { content: "\f073"; }

.icon-file-text-o:before { content: "\f0f6"; }

.icon-file-pdf-o:before { content: "\f1c1"; }

.icon-file-word-o:before { content: "\f1c2"; }

.icon-file-excel-o:before { content: "\f1c3"; }

.icon-map-o:before { content: "\f278"; }

.icon-map-marker:before { content: "\f041"; }

.icon-location-arrow:before { content: "\f124"; }

.icon-close:before { content: "\e601"; }

.icon-menu:before { content: "\e602"; }

.icon-search:before { content: "\f002"; }

.icon-email:before { content: "\f003"; }

.icon-check:before { content: "\f00c"; }

.icon-home:before { content: "\f015"; }

.icon-clock-o:before { content: "\f017"; }

.icon-video-camera:before { content: "\f03d"; }

.icon-photo:before { content: "\f03e"; }

.icon-check-square-o:before { content: "\f046"; }

.icon-chevron-left:before { content: "\f053"; }

.icon-chevron-right:before { content: "\f054"; }

.icon-chevron-up:before { content: "\f077"; }

.icon-chevron-down:before { content: "\f078"; }

.icon-external-link:before { content: "\f08e"; }

.icon-square-o:before { content: "\f096"; }

.icon-angle-left:before { content: "\f104"; }

.icon-angle-right:before { content: "\f105"; }

.icon-angle-up:before { content: "\f106"; }

.icon-angle-down:before { content: "\f107"; }

.icon-ellipsis-v:before { content: "\f142"; }

.icon-mail:before { content: "\f0e0"; }

.icon-play:before { content: "\f04b"; }

.icon-list-ul:before { content: "\f0ca"; }

.icon-search-plus:before { content: "\f00e"; }

.icon-arrow-left:before { content: "\f060"; }

.icon-arrow-right:before { content: "\f061"; }

.icon-arrow-up:before { content: "\f062"; }

.icon-arrow-down:before { content: "\f063"; }

.icon-user:before { content: "\f007"; }

.icon-sign-out:before { content: "\f08b"; }

.icon-sign-in:before { content: "\f090"; }

.icon-pdf:before { content: "\e603"; }

.icon-phone:before { content: "\e606"; }

.icon-mobile:before { content: "\e600"; }

html { overflow-y: scroll; font-size: 62.5%; }

body { color: #333; font-family: Helvetica-Light, "Helvetica Light", Helvetica, YuGothic, "Yu Gothic", "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif; font-size: 1.5rem; letter-spacing: 0.05em; }

input, select, option, textarea { font-family: Helvetica-Light, "Helvetica Light", Helvetica, YuGothic, "Yu Gothic", "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif; }

a, a * { -webkit-transition-property: color, border-color, background-color, opacity; transition-property: color, border-color, background-color, opacity; -webkit-transition-duration: .3s; transition-duration: .3s; -webkit-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }

a { color: #67c3b4; text-decoration: none; }
a:visited { color: #79cabd; }
a:hover { outline: 0; color: #55bcab; text-decoration: underline; }
a:active { outline: 0; color: #cc3e55; }

::-moz-selection { background-color: #46b1a0; color: #fff; }

::selection { background-color: #46b1a0; color: #fff; }

.for-tab { display: none; }

.for-sp { display: none; }

body { overflow: hidden; }

.page { position: relative; }

#is-sp-checkbox { display: none; }

.btn-sp-menu { display: none; }

.l-inner { margin: 0 auto; width: 1080px; }
.l-inner:after { content: ""; display: block; clear: both; }

.copyright small { font-size: 1.2rem; }

@media only screen and (max-width: 589px) { .for-pc { display: none; }
  .for-tab { display: none; }
  .for-sp { display: block; }
  .page { left: 0; transition: left .2s; }
  #is-sp-checkbox:checked + .page { left: -240px; }
  #is-sp-checkbox:checked + .page .btn-sp-menu:after { visibility: visible; opacity: 1; }
  #is-sp-checkbox:checked + .page .btn-sp-menu i:before { content: '\e601'; position: relative; z-index: 101; }
  .btn-sp-menu { display: block; margin: 0 5px 0 0; float: right; width: 42px; height: 42px; cursor: pointer; text-align: center; background-color: #67c3b4; }
  .btn-sp-menu i { margin: 7px 0 0; font-size: 28px; color: #fff; line-height: 42px; }
  .btn-sp-menu:after { content: ''; position: absolute; background: rgba(0, 0, 0, 0.8); top: 0; left: 0; width: 100%; height: 100%; z-index: 100; visibility: hidden; opacity: 0; transition: visibility .4s,opacity .4s; }
  .l-inner { width: auto; margin: 0 8px; } }
@media only screen and (min-width: 590px) and (max-width: 1079px) { .for-pc { display: none; }
  .for-tab { display: block; }
  .for-sp { display: none; }
  .page { left: 0; transition: left .2s; }
  #is-sp-checkbox:checked + .page { left: -240px; }
  #is-sp-checkbox:checked + .page .btn-sp-menu:after { visibility: visible; opacity: 1; }
  #is-sp-checkbox:checked + .page .btn-sp-menu i:before { content: '\e601'; position: relative; z-index: 101; }
  .btn-sp-menu { display: block; margin: 0 5px 0 0; float: right; width: 42px; height: 42px; cursor: pointer; text-align: center; background-color: #67c3b4; }
  .btn-sp-menu i { margin: 7px 0 0; font-size: 28px; color: #fff; line-height: 42px; }
  .btn-sp-menu:after { content: ''; position: absolute; background: rgba(0, 0, 0, 0.8); top: 0; left: 0; width: 100%; height: 100%; z-index: 100; visibility: hidden; opacity: 0; transition: visibility .4s,opacity .4s; }
  .l-inner { width: auto; margin: 0 16px; } }

/*# sourceMappingURL=style.css.map */
