@charset "UTF-8";
/* Reset Style */
html { overflow-y: scroll; }

body { line-height: 1; color: #000; }

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-weight: normal; vertical-align: baseline; }

font { margin: 0; padding: 0; outline: 0; }

body { line-height: 1; }

ul, ol, menu { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }

del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

hr { margin: 0px; padding: 0px; }

img, input { vertical-align: bottom; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* YUI 3.4.1 (build 4118) Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License. http://yuilibrary.com/license/ */
body { font: 13px/1.231 arial,helvetica,clean,sans-serif; *font-size: small; *font: x-small; }

select, input, button, textarea { font: 99% arial,helvetica,clean,sans-serif; }

table { font-size: inherit; font: 100%; }

pre, code, kbd, samp, tt { font-family: monospace; *font-size: 108%; line-height: 100%; }

/* 汎用クラス */
.opacity, .imgOp img:hover { opacity: 0.75; -moz-opacity: 0.75; filter: alpha(opacity=75); -ms-filter: "alpha(opacity=75)"; }

.inlineBlock, a.btn01, a.btn02, a.btn03 { display: inline-block; *display: inline; *zoom: 1; }

.tableCell { display: table-cell; *display: inline; *zoom: 1; vertical-align: middle; }

.fr, .imgR { float: right; margin-left: 10px; }

.fl, .imgL { float: left; margin-right: 10px; }

.imgC, .tC { text-align: center; }

.imgC { display: block; margin-left: auto; margin-right: auto; }

.tL { text-align: left !important; }

.tR { text-align: right !important; }

.description { font-size: 93%; color: #666; letter-spacing: 0; }

.box40 { width: 40px; }

.box50 { width: 50px; }

.box60 { width: 60px; }

.box70 { width: 70px; }

.box80 { width: 80px; }

.box90 { width: 90px; }

.box100 { width: 100px; }

.box110 { width: 110px; }

.box120 { width: 120px; }

.box130 { width: 130px; }

.box140 { width: 140px; }

.box150 { width: 150px; }

.box160 { width: 160px; }

.box170 { width: 170px; }

.box180 { width: 180px; }

.box190 { width: 190px; }

.box200 { width: 200px; }

.box210 { width: 210px; }

.box220 { width: 220px; }

.box230 { width: 230px; }

.box240 { width: 240px; }

.box250 { width: 250px; }

.box260 { width: 260px; }

.box270 { width: 270px; }

.box280 { width: 280px; }

.box290 { width: 290px; }

.box300 { width: 300px; }

.box310 { width: 310px; }

.box320 { width: 320px; }

.box330 { width: 330px; }

.box340 { width: 340px; }

.box350 { width: 350px; }

.box360 { width: 360px; }

.box370 { width: 370px; }

.box380 { width: 380px; }

.box390 { width: 390px; }

.box400 { width: 400px; }

.box410 { width: 410px; }

.box420 { width: 420px; }

.box430 { width: 430px; }

.box440 { width: 440px; }

.box450 { width: 450px; }

.box460 { width: 460px; }

.box470 { width: 470px; }

.box480 { width: 480px; }

.box490 { width: 490px; }

.box500 { width: 500px; }

/* clearfix */
.clearfix, #main, #gFooter, #gNav { *zoom: 1; }
.clearfix:after, #main:after, #gFooter:after, #gNav:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

.zoomIn, a[href$=".gif"] img, a[href$=".png"] img, a[href$=".jpg"] img, a[href$=".jpeg"] img, a[href$=".bmp"] img { cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: -ms-zoom-in; cursor: -o-zoom-in; cursor: zoom-in; }

.pointer, input[type="submit"], button, .btn01:hover, .btn02:hover, .btn03:hover { cursor: pointer; }

textarea, input, select { margin: 1px; padding: 3px; }

input[type="text"], input[type="password"], select, textarea { border: 1px solid #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-color: #fbfbfb; box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset; }

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus { border-color: #aaa; background-color: #fefefe; }

::-webkit-input-placeholder { color: #999; }

:-moz-placeholder { color: #999; }

:-ms-input-placeholder { color: #999; }

.placeholder { color: #999; }

.hide { display: none; }

/* float */
.fltR { float: right; }

.fltL { float: left; }

.clr { clear: both; }

/* button */
.btn01, .btn02, .btn03 { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

a.btn01, a.btn02, a.btn03 { padding: .4em .8em .3em; text-decoration: none !important; }

input.btn01, input.btn02, input.btn03 { padding: .2em .6em .1em; }

.btnL { padding: .6em 3em .5em !important; font-size: 108%; }

.btnS { padding: .1em .3em 0 !important; font-size: 85%; }

.btn01 { border: solid 1px #419b00; color: #fff !important; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); background-color: #6bc827; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZiYzgyNyIvPjxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjNThjMTBjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzZjYzM3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #6bc827), color-stop(40%, #58c10c), color-stop(100%, #76cc37)); background-image: -webkit-linear-gradient(bottom, #6bc827, #58c10c 40%, #76cc37); background-image: -moz-linear-gradient(bottom, #6bc827, #58c10c 40%, #76cc37); background-image: -o-linear-gradient(bottom, #6bc827, #58c10c 40%, #76cc37); background-image: linear-gradient(bottom, #6bc827, #58c10c 40%, #76cc37); box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.4); }

.btn01:hover { box-shadow: inset 0 0 5px 3px rgba(255, 255, 255, 0.4); }

.btn02 { border: solid 1px #ccc; background-color: #fff; color: #333 !important; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjxzdG9wIG9mZnNldD0iMiUiIHN0b3AtY29sb3I9IiNlZGVkZWQiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ededed), color-stop(2%, #ededed), color-stop(40%, #fdfdfd), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(bottom, #ededed, #ededed 2%, #fdfdfd 40%, #ffffff); background-image: -moz-linear-gradient(bottom, #ededed, #ededed 2%, #fdfdfd 40%, #ffffff); background-image: -o-linear-gradient(bottom, #ededed, #ededed 2%, #fdfdfd 40%, #ffffff); background-image: linear-gradient(bottom, #ededed, #ededed 2%, #fdfdfd 40%, #ffffff); }

.btn02:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #dddddd), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(bottom, #dddddd, #ffffff); background-image: -moz-linear-gradient(bottom, #dddddd, #ffffff); background-image: -o-linear-gradient(bottom, #dddddd, #ffffff); background-image: linear-gradient(bottom, #dddddd, #ffffff); }

.btn03 { border: solid 1px #0075b0; color: #fff !important; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); background-color: #066caa; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2NmNhYSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDA4ZmM3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzFkYmU4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #066caa), color-stop(50%, #008fc7), color-stop(100%, #c1dbe8)); background-image: -webkit-linear-gradient(top, #066caa, #008fc7, #c1dbe8); background-image: -moz-linear-gradient(top, #066caa, #008fc7, #c1dbe8); background-image: -o-linear-gradient(top, #066caa, #008fc7, #c1dbe8); background-image: linear-gradient(top, #066caa, #008fc7, #c1dbe8); box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.4); }

.btn03:hover { box-shadow: inset 0 0 5px 3px rgba(255, 255, 255, 0.4); }

/*----------------------------------------------------
	element style
----------------------------------------------------*/
body { border-top: 4px solid #82c018; box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2); background: url(../images/common/mainBg.png); color: #333333; font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; letter-spacing: 1px; }

input, select, option, textarea { font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; }

label { padding: 0 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
label.checked { background-color: #dbf5af; }

* html body, * html input, * html select, * html option, * html textarea { font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; }

a { -webkit-transition: color .3s linear; -moz-transition: color .3s linear; -ms-transition: color .3s linear; -o-transition: color .3s linear; transition: color .3s linear; }
a:link { color: #36c; }
a:visited { color: #39f; }
a:hover { text-decoration: none; color: #f90; }
a:active { color: #f90; }

a[href$=".pdf"], a.pdf { padding-right: 24px; background: url("../images/common/icoPdf.gif") no-repeat right center; }

a[target="_blank"], a.blank { padding-right: 20px; background: url("../images/common/listBlank.gif") no-repeat right center; }

/*----------------------------------------------------
	#wrapper
----------------------------------------------------*/
#wrap { margin: 0 auto; width: 960px; position: relative; }

/*----------------------------------------------------
	#gHeader
----------------------------------------------------*/
#gHeader { padding: 0 0 20px; }

/*----------------------------------------------------
	#main
----------------------------------------------------*/
#main { padding: 30px 20px 0; border: 2px solid #f79523; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background-color: white; box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.3); }

#contents { float: left; width: 680px; }

#sideArea { float: right; width: 210px; }

/*----------------------------------------------------
	#gFooter
----------------------------------------------------*/
#logo { padding: 25px 0 0; text-align: center; }

/*----------------------------------------------------
	#global navigation
----------------------------------------------------*/
#gNav ul { float: left; padding: 0 20px; }
#gNav ul li { margin: 0 1em 0 0; border: 1px solid #cccccc; border-bottom: none; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -ms-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; float: left; }
#gNav ul li a { padding: .5em 1.2em .3em; display: block; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -ms-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; background-color: #f6f6f6; color: #333; text-decoration: none; font-size: 116%; }
#gNav ul li a:hover { background-color: #ffea78; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZThjZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fde8cf)); background-image: -webkit-linear-gradient(top, #ffffff, #fde8cf); background-image: -moz-linear-gradient(top, #ffffff, #fde8cf); background-image: -o-linear-gradient(top, #ffffff, #fde8cf); background-image: linear-gradient(top, #ffffff, #fde8cf); }
#gNav ul li a.select { background-color: #f79523; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhYjk2ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3OTUyMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fab96d), color-stop(100%, #f79523)); background-image: -webkit-linear-gradient(top, #fab96d, #f79523); background-image: -moz-linear-gradient(top, #fab96d, #f79523); background-image: -o-linear-gradient(top, #fab96d, #f79523); background-image: linear-gradient(top, #fab96d, #f79523); color: #fff; }

#logout { position: absolute; right: 0; top: 20px; font-size: 93%; }

#hellowMsg { position: absolute; right: 20px; top: 170px; padding: 0.5em; border: 1px solid #c3e4f7; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background-color: #e5f0f7; line-height: 1.2; font-size: 93%; }
#hellowMsg span { padding: 0 .4em; font-weight: bold; }

/*----------------------------------------------------
	#contents
----------------------------------------------------*/
#pageTop { padding: 15px 0 10px; clear: both; text-align: right; font-size: 85%; }

#copyright { padding: 2em 0 0; text-align: center; font-size: 85%; }

/*----------------------------------------------------
	印刷用スタイル
----------------------------------------------------*/
@media print { * html body { zoom: .7; } }
