@charset "utf-8";
// ===================================================================
// レイアウト関係のスタイル
// ===================================================================


/*----------------------------------------------------
	#wrapper
----------------------------------------------------*/
#wrap{
	margin: 0 auto;
	width: $wrapWidth;
	position: relative;
}

/*----------------------------------------------------
	#gHeader
----------------------------------------------------*/
#hader{}


/*----------------------------------------------------
	#main
----------------------------------------------------*/
#main {
	@extend .clearfix;
	@include border-radius(4px);
}


/*----------------------------------------------------
	#footer
----------------------------------------------------*/
#footer {
	@extend .clearfix;
}
