@charset "utf-8";
// ===================================================================
// レイアウト関係のスタイル
// ===================================================================


/*----------------------------------------------------
	#wrapper
----------------------------------------------------*/
#wrap{
	margin: 0 auto;
	width: $base_width;
	position: relative;
}

/*----------------------------------------------------
	#gHeader
----------------------------------------------------*/
#gHeader{
	padding: 0 0 20px;
}


/*----------------------------------------------------
	#main
----------------------------------------------------*/
#main {
	@extend .clearfix;
	padding: 30px $main_padding 0;
	border: 2px solid $main_color;
	@include border-radius(4px);
	background-color: $base_color;
	box-shadow: 2px 2px 5px rgba(#333,.3);
}

#contents{
	float: left;
	width: $contents_width;
}
#sideArea{
	float: right;
	width: $side_width;
}

/*----------------------------------------------------
	#gFooter
----------------------------------------------------*/
#gFooter {
	@extend .clearfix;
}


