@charset "utf-8";
// ===================================================================
// メイン - このファイルにメインコンテンツ部分のスタイルをガツガツ書いていく。
// ===================================================================


/*----------------------------------------------------
	element style
----------------------------------------------------*/
body {
	color: $fontColor;
	font-family: $baseFont;
	letter-spacing: 1px;
	line-height: 1.4;
}

input,select,option,textarea{
	font-family: $baseFont;
}


// for IE6
* html {
	body,input,select,option,textarea {
		font-family: $baseFontIe;
	}
}


// リンク
a , a *{
	@each $prefix in $set_prefix {
		#{$prefix}transition: color .3s linear,
		                      background-color .3s linear,
		                      border-color .3s linear;
	}
}
a{
	&:link {
		color: #36c;
		text-decoration: none;
	}
	&:visited {
		color: #39f;
	}
	&:hover {
		text-decoration: none;
		color: #f90;
	}
	&:active {
		color: #f90;
	}
}


::-moz-selection{  //firefox
	background-color: lighten($accentColor, 10%);
	color: #fff;
}
::selection { // css3
	background-color: lighten($accentColor, 10%);
	color: #fff;
}


// レイアウト関係のスタイル読み込み
@import "layout";

@import "component";


@import "all";


// $type: "all";
// @import "media_query";

// /*----------------------------------------------------
// 	media query
// ----------------------------------------------------*/

// /* smart phone
// -------------------------------------------------- */
// @media only screen and (max-width:767px) {
//     $type: "sp";
//     @import "media_query"
// }

// /* tablet
// -------------------------------------------------- */
// @media only screen and (min-width:768px) and (max-width:1023px) {
//     $type: "tab";
//     @import "media_query"
// }

// /* pc
// -------------------------------------------------- */
// @media only screen and (min-width:1024px) {
//     $type: "pc";
//     @import "media_query"
// }

