@charset "utf-8";
// ===================================================================
// 設定
// ===================================================================

@import "compass/css3";
$experimental-support-for-svg: true;

// HTML5の場合は値を「false」から「true」にする
$use_html5: true;


// 汎用クラスを使用するか
$use_extend_object: true;

// 簡易ロールオーバーの値
$opacity_value: .75;

// 余白調整用のクラスを使用するか
$use_spacing_classes: true;


// 画像のパス
$imagePath: "../images/";


// ベースフォント
$baseFont: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
$baseFontIe: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;

// 明朝
$minchoFont: "ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝",serif;


// ページ全体の横幅
$wrapWidth: 960px;

// メディアクエリの幅設定
$mqPcWidth: 980px;
$mqTabWidth: 590px;


// 要素のベースマージン
$bm: 15px;


// ベースカラー
$baceColor: #fff;

// メインカラー（ベースカラー）
$mainColor: #67c3b4;

// アクセントカラー
$accentColor: #cc3e55;

// ラインカラー
$lineColor: #666;


// ベーステキストカラー
$fontColor: #333;


// 付与するベンダープレフィックス
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';

