body{
	@if $type == "all"{
		overflow: hidden;
	}
}
#page{
	@if $type == "all"{
		position: relative;
	}
	@if $type == "sp" or $type == "tab"{
		@include transition(transform);
	}
}
// 判定checkbox
#is-mobile-checkbox{
	@if $type == "all"{
		display: none;
	}
	@if $type == "sp" or $type == "tab"{
		&:checked + #page{
			transform: translate(-240px,0);
			-webkit-transform: translate(-240px,0);
			#spMenu{
				&:after{
					content: '';
					position: absolute;
					background: rgba(#000,.4);
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				i:before{
					content: '\f00d';
				}
			}
			#gNav ul{
				display: none;
			}
		}
	}
}
// メニューボタン（ボタン）
#mobile-menu-btn{
	@if $type == "all"{
		display: none;
	}
	@if $type == "sp" or $type == "tab"{
		display: block;
		margin: 0 5px 0 0;
		float: right;
		width: 42px;
		height: 42px;
		cursor: pointer;
		text-align: center;
		background-color: $mainColor;
		i{
			margin: 7px 0 0;
			font-size: 28px;
			color: #fff;
		}
	}
}

/*----------------------------------------------------
	inner
----------------------------------------------------*/
.inner{
	@if $type == "all"{
		margin: 0 auto;
		width: $innerWidth;
	}
}

/*----------------------------------------------------
	header
----------------------------------------------------*/
#page-head{
	@if $type == "all"{

	}
}
#logo-main{
	@if $type == "all"{

	}
}

/*----------------------------------------------------
	global navigation
----------------------------------------------------*/
#nav-main{
	@if $type == "all"{

	}
}


/*----------------------------------------------------
	contents
----------------------------------------------------*/
#page-content {
	@if $type == "all"{

	}
}
#breadcrumbs{
	@if $type == "all"{

	}
}
#content-main{
	@if $type == "all"{

	}
}
#content-sub{
	@if $type == "all"{

	}
}

/*----------------------------------------------------
	footer
----------------------------------------------------*/
#page-foot{
	@if $type == "all"{

	}
}

#copyright{
	@if $type == "all"{
		font-size: fz(12);
		small{}
	}
}

