
/*----------------------------------------------------
	#wrapper
----------------------------------------------------*/
.inner{
	@if $type == "all"{
		margin: 0 auto;
		width: $innerWidth;
	}
}

/*----------------------------------------------------
	#header
----------------------------------------------------*/
#header{
	@if $type == "all"{

	}
}


/*----------------------------------------------------
	#global navigation
----------------------------------------------------*/
#gNav{
	@if $type == "all"{

	}
}


/*----------------------------------------------------
	#contents
----------------------------------------------------*/
#contents {
	@if $type == "all"{

	}
}


/*----------------------------------------------------
	#main
----------------------------------------------------*/
#main {
	@if $type == "all"{

	}
}

#breadcrumbs{
	@if $type == "all"{

	}
}

/*----------------------------------------------------
	#footer
----------------------------------------------------*/
#footer{
	@if $type == "all"{

	}
}

#copyright{
	@if $type == "all"{
		font-size: fz(12);
		small{}
	}
}

