$start: 10;
$end: 32;
$unit: rem;

.fz{
	@for $i from $start through $end {
		&#{$i}{
			font-size: #{$i}$unit;
		}
	}
	&-hg{
		font-size: 2.13em;
	}
	&-lg{
		font-size: 1.6em;
	}
	&-md{
		font-size: 1.2em;
	}
	&-sm{
		font-size: .933em;
	}
	&-xs{
		font-size: .8em;
	}
}
