$start: 4;
$end: 50;
$step: 10;
$unit: px;
.box{
	@for $i from $start through $end {
		&#{$i * $step}{
			width: #{$i * $step}px;
		}
	}
}
$start: 1;
$end: 20;
$step: 5;
.w{
	@for $i from $start through $end {
		&-#{$i * $step}p{
			width: percentage($i * $step / 100);

		}
	}
}
