@charset "utf-8";

#page{

}

/*----------------------------------------------------
	inner
----------------------------------------------------*/
.inner{
	margin: 0 auto;
	width: $innerWidth;
}

/*----------------------------------------------------
	header
----------------------------------------------------*/
#page-head{
	@extend %clearfix;
}


/*----------------------------------------------------
	global navigation
----------------------------------------------------*/
#nav-main{


/*----------------------------------------------------
	contents
----------------------------------------------------*/
#page-content{
	@extend %clearfix;
}
#breadcrumbs{}
#content-main{}
#content-secound{}

/*----------------------------------------------------
	footer
----------------------------------------------------*/
#page-foot{
	@extend %clearfix;
}

#copyright{
	font-size: fz(12);
	small{}
}

