@charset "utf-8";

/*----------------------------------------------------
	#wrapper
----------------------------------------------------*/
.inner{
	margin: 0 auto;
	width: $innerWidth;
}

/*----------------------------------------------------
	#header
----------------------------------------------------*/
#header{
	@extend %clearfix;
}


/*----------------------------------------------------
	#global navigation
----------------------------------------------------*/
#gNav{}


/*----------------------------------------------------
	#contents
----------------------------------------------------*/
#contents {
	@extend %clearfix;
}


/*----------------------------------------------------
	#main
----------------------------------------------------*/
#main {}

#breadcrumbs{}

/*----------------------------------------------------
	#footer
----------------------------------------------------*/
#footer{
	@extend %clearfix;
}

#copyright{
	font-size: fz(12);
	small{}
}

