@charset "utf-8";

#page{

}

// ----------------------------------------------------
// inner
// ----------------------------------------------------
.inner{
	margin: 0 auto;
	width: $inner_width;
}

// ----------------------------------------------------
// header
// ----------------------------------------------------
.page-header{
}


// ----------------------------------------------------
// global navigation
// ----------------------------------------------------
.nav-main{
}

// ----------------------------------------------------
// contents
// ----------------------------------------------------
.page-content{
}

// ----------------------------------------------------
// main block
// ----------------------------------------------------
.content-main{}
.breadcrumbs{}

// ----------------------------------------------------
// sub block
// ----------------------------------------------------
.content-sub{}


// ----------------------------------------------------
// footer
// ----------------------------------------------------
.page-footer{
}

.copyright{
	font-size: fz(12);
	small{}
}

