@charset "utf-8";
// ===================================================================
// メイン - このファイルにメインコンテンツ部分のスタイルをガツガツ書いていく。
// ===================================================================


/*----------------------------------------------------
	element style
----------------------------------------------------*/
html{
	text-size-adjust: 100%;
}
body {
	color: $color_font;
	font-family: $base_font;
	letter-spacing: 1px;
	line-height: 1.4;
}

input,select,option,textarea{
	font-family: $base_font;
}


// for IE6
* html {
	body,input,select,option,textarea {
		font-family: $base_font_ie;
	}
}


// リンク
a , a *{
	transition-property: color, border-color, background-color, opacity;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}
a{
	$color_link: $color_main;
	color: $color_link;
	&:link {
		color: $color_link;
		text-decoration: none;
	}
	&:visited {
		color: lighten($color_link, 10%);
	}
	&:hover {
		color: lighten($color_link, 5%);
		text-decoration: underline;
	}
	&:active {
		color: #d00;
	}
}


::-moz-selection{  //firefox
	background-color: $color_main;
	color: #fff;
}
::selection { // css3
	background-color: $color_main;
	color: #fff;
}

@import "inc/component";

// @import "all";

$type: "all";
@import 'mq/common';

/*----------------------------------------------------
	media query
----------------------------------------------------*/

/* smart phone
-------------------------------------------------- */
@media only screen and (max-width:#{$mq_tab_width - 1}) {
    $type: "sp";
    @import 'mq/common';
}

/* tablet
-------------------------------------------------- */
@media only screen and (min-width:#{$mq_tab_width}) and (max-width:#{$mq_pc_width - 1}) {
    $type: "tab";
    @import 'mq/common';
}

/* pc
-------------------------------------------------- */
@media only screen and (min-width:#{$mq_pc_width}) {
    $type: "pc";
    @import 'mq/common';
}

