@charset "utf-8";
// ===================================================================
// メイン - このファイルにメインコンテンツ部分のスタイルをガツガツ書いていく。
// ===================================================================


// ----------------------------------------------------
// element style
// ----------------------------------------------------
html{
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	        text-size-adjust: 100%;
}
body {
	color: $color_font;
	font-family: $base_font;
	font-size: $base_font_size;
	letter-spacing: $base_letter_spacing;
	&.is-loading{
		*,*:before,*:after{
			-webkit-animation: none !important;
			        animation: none !important;
			-webkit-transition: none !important;
			        transition: none !important;
		}
		&:after{
			content: '';
			position: fixed;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%,-50%);
			    -ms-transform: translate(-50%,-50%);
			        transform: translate(-50%,-50%);
			border: 1px solid $color_main;
			border-top-width: 3px;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			-webkit-animation: spin 1s linear infinite;
			        animation: spin 1s linear infinite;
		}
		.page{
			visibility: hidden;
		}
	}
}
.page{
	-webkit-animation: fadein 1s;
	        animation: fadein 1s;
}

input,select,option,textarea{
	font-family: $base_font;
}

// リンク
a , a *{
	-webkit-transition-property: color, border-color, background-color, opacity;
	transition-property: color, border-color, background-color, opacity;
	-webkit-transition-duration: .3s;
	        transition-duration: .3s;
	-webkit-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
}
a{
	$color_link: $color_main;
	color: $color_link;
	text-decoration: none;
	&:visited {
		color: lighten($color_link, 5%);
	}
	&:hover {
		outline: 0;
		color: darken($color_link, 5%);
		text-decoration: underline;
	}
	&:active {
		outline: 0;
		color: $color_accent;
	}
}


::-moz-selection{  //firefox
	background-color: darken($color_main, 10%);
	color: #fff;
}
::selection { // css3
	background-color: darken($color_main, 10%);
	color: #fff;
}

@import "inc/component";

// @import "all";

$type: "all";
@import 'mq/common';

// ----------------------------------------------------
// media query
// ----------------------------------------------------

// Smart Phone
// ----------------------------------------------------
@media only screen and (max-width:#{$mq_tab_width - 1}) {
    $type: "sp";
    @import 'mq/common';
}

// Tablet
// ----------------------------------------------------
@media only screen and (min-width:#{$mq_tab_width}) and (max-width:#{$mq_pc_width - 1}) {
    $type: "tab";
    @import 'mq/common';
}

// PC
// ----------------------------------------------------
@media only screen and (min-width:#{$mq_pc_width}) {
    $type: "pc";
    @import 'mq/common';
}

