@charset "utf-8";
// ===================================================================
// メイン - このファイルにメインコンテンツ部分のスタイルをガツガツ書いていく。
// ===================================================================


/*----------------------------------------------------
	element style
----------------------------------------------------*/
body {
	color: $fontColor;
	font-family: $baseFont;
	letter-spacing: 1px;
	line-height: 1.4;
}

input,select,option,textarea{
	font-family: $baseFont;
}


// for IE6
* html {
	body,input,select,option,textarea {
		font-family: $baseFontIe;
	}
}


// リンク
a , a *{
	@each $prefix in $set_prefix {
		#{$prefix}transition-property: color, border-color, background-color, opacity;
		#{$prefix}transition-duration: .3s;
		#{$prefix}transition-timing-function: ease-in-out;
	}
}
a{
	color: $mainColor;
	&:link {
		color: $mainColor;
		text-decoration: none;
	}
	&:visited {
		color: lighten($mainColor, 10%);
	}
	&:hover {
		color: lighten($mainColor, 5%);
		text-decoration: underline;
	}
	&:active {
		color: #d00;
	}
}


::-moz-selection{  //firefox
	background-color: $mainColor;
	color: #fff;
}
::selection { // css3
	background-color: $mainColor;
	color: #fff;
}

@import "inc/component";

@import "all";

// $type: "all";
// @import 'mq/common';

// /*----------------------------------------------------
// 	media query
// ----------------------------------------------------*/

// /* smart phone
// -------------------------------------------------- */
// @media only screen and (max-width:#{$mqTabWidth - 1}) {
//     $type: "sp";
//     @import 'mq/common';
// }

// /* tablet
// -------------------------------------------------- */
// @media only screen and (min-width:#{$mqTabWidth}) and (max-width:#{$mqPcWidth - 1}) {
//     $type: "tab";
//     @import 'mq/common';
// }

// /* pc
// -------------------------------------------------- */
// @media only screen and (min-width:#{$mqPcWidth}) {
//     $type: "pc";
//     @import 'mq/common';
// }

