@charset "utf-8";
// ===================================================================
// 各SCSSファイルのインポート
// ===================================================================

// 設定用
@import "inc/setting";

// ミックスイン、@extend
@import "inc/mixin";


$type: "all";
@import 'mq/home';

/*----------------------------------------------------
	media query
----------------------------------------------------*/

/* smart phone
-------------------------------------------------- */
@media only screen and (max-width:#{$mq_tab_width - 1}) {
    $type: "sp";
    @import 'mq/home';
}

/* tablet
-------------------------------------------------- */
@media only screen and (min-width:#{$mq_tab_width}) and (max-width:#{$mq_pc_width - 1}) {
    $type: "tab";
    @import 'mq/home';
}

/* pc
-------------------------------------------------- */
@media only screen and (min-width:#{$mq_pc_width}) {
    $type: "pc";
    @import 'mq/home';
}

