// button
%button{
	display: inline-block;
	border-radius: 4px;
	padding: .5em 1em .35em;
	text-decoration: none;
	&:hover{
		cursor: pointer;
	}
	&.btn-l{
		padding: .6em 3em .5em;
		font-size: 1.25em;
	}
	&.btn-s{
		font-size: .8em;
	}
}

.btn{
	&-default{
		@extend %button;
		border: solid 1px $color_line;
		background-color: #f6f6f6;
		box-shadow: 0 3px 0 0 koku($color_line);
		color: #333 !important;
		text-align: center;
		&:hover{
			background-color: #fcfcfc;
		}
		&:active{
			position: relative;
			top: 3px;
			box-shadow: none;
		}
	}
	&-main{
		border: solid 1px $color_main;
		background-color: $color_main;
		box-shadow: 0 3px 0 0 koku($color_main);
		color: #fff !important;
		&:hover{
			background-color: lighten($color_main, 10%);
		}
		&:active{
			position: relative;
			top: 3px;
			box-shadow: none;
		}
	}
	&-sub{
		border: solid 1px $color_sub;
		background-color: $color_sub;
		box-shadow: 0 3px 0 0 koku($color_sub);
		color: #fff !important;
		&:hover{
			background-color: lighten($color_sub, 10%);
		}
		&:active{
			position: relative;
			top: 3px;
			box-shadow: none;
		}
	}
	&-accent{
		border: solid 1px $color_accent;
		background-color: $color_accent;
		box-shadow: 0 3px 0 0 koku($color_accent);
		color: #fff !important;
		&:hover{
			background-color: lighten($color_accent, 10%);
		}
		&:active{
			position: relative;
			top: 3px;
			box-shadow: none;
		}
	}
}


