
.margin{
	@if $type == "all"{
		&-lg{
			margin: 64px 0;
		}
		&-md{
			margin: 40px 0;
		}
		&-sm{
			margin: 16px 0;
		}
		&-xs{
			margin: 8px 0;
		}
	}
	@if $type == "tab"{
		&-lg{
			margin: 48px 0;
		}
		&-md{
			margin: 32px 0;
		}
		&-sm{
			margin: 16px 0;
		}
		&-xs{
			margin: 8px 0;
		}
	}
	@if $type == "sp"{
		&-lg{
			margin: 32px 0;
		}
		&-md{
			margin: 24px 0;
		}
		&-sm{
			margin: 8px 0;
		}
		&-xs{
			margin: 4px 0;
		}
	}
}