@charset "utf-8";

// box sizing
@if $use_box_sizing {
	* {
		box-sizing: border-box;
		&:after,&:before{
			box-sizing: border-box;
		}
	}
}

// image max-widht
@if $img_max_widthg {
	img {
		max-width: 100%;
	}
}

.imgHover img:hover {
	@extend %opacity;
}

.zoomIn,
a[href$=".gif"] img,
a[href$=".png"] img,
a[href$=".jpg"] img,
a[href$=".jpeg"] img,
a[href$=".bmp"] img {
	cursor: zoom-in;
}

.hide{display: none;}

// min-height
@mixin min_height($value) {
	min-height: $value;
	_height: $value;
}

// 余白調整用のクラス
@if $use_spacing_classes {
	@for $i from -4 through -1 {
		.mt#{$i * 5} { margin-top: 5px * $i !important; }
		.mb#{$i * 5} { margin-bottom: 5px * $i !important; }
	}
	@for $i from 0 through 20 {
		.mt#{$i * 5} { margin-top: 5px * $i !important; }
		.mb#{$i * 5} { margin-bottom: 5px * $i !important; }
		.pt#{$i * 5} { padding-top: 5px * $i !important; }
		.pb#{$i * 5} { padding-bottom: 5px * $i !important; }
		.p#{$i * 5}  { padding: 5px * $i !important; }
	}
}

// float: right
.fr,
.img-r {
	float: right;
	margin-left: 10px;
}

// float: left
.fl,
.img-l {
	float: left;
	margin-right: 10px;
}

// text-align: center
.img-c,
.t-c{ text-align: center; }

// img Centering
.img-c {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// text-align: right
.t-l{ text-align: left !important;}
// text-align: right
.t-r{ text-align: right !important;}

.clr{ clear: both;}

hr{
	margin: 20px 0;
	border: none;
	border-top: 1px solid $color_line;
}
.color-main{
	color: $color_main;
}
.color-accent{
	color: $color_accent;
}
.color-attention{
	color: #d00;
}

strong,.fwb{
	font-weight: bold;
}
em{
	@extend .color-attention;
	font-weight: bold;
	font-style: normal;
}
sup{
	font-size: .5em;
	vertical-align: top;
}
sub{
	font-size: .5em;
	vertical-align: bottom;
}
.row{
	@extend %cf;
}

@for $i from 10 through 32 {
	.fz#{$i}{
		font-size: #{$i}px !important;
	}
}

ul{
	&.disc{
		li{
			position: relative;
			padding: 0 0 0 1.5em;
			&:before{
				content: '';
				position: absolute;
				top: .3em;
				left: .5em;
				// margin-top: -3px;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: $color_font;
			}
		}
	}
	&.circle{
		list-style: circle;
		padding: 0 0 0 1.5em;
	}
}
ol{
	padding: 0 0 0 1.5em;
}

@if $use_box_width{
	// width
	@for $i from 4 through 50 {
		.box#{$i * 10}{
			width: #{$i * 10}px;
		}
	}
	@for $i from 1 through 20 {
		.w#{$i * 5}{
			width: #{$i * 5%};
		}
	}
}

dl.sbs{
	overflow: hidden;
	dt{ float: left;}
	&.em3 dd{padding-left: 3.5em;}
	&.em4 dd{padding-left: 4.5em;}
	&.em5 dd{padding-left: 5.5em;}
	&.em6 dd{padding-left: 6.5em;}
	&.em7 dd{padding-left: 7.5em;}
	&.em8 dd{padding-left: 8.5em;}
}

@if $use_extend_object{
	a[href$=".pdf"],
	a.pdf{
		// padding-right: 24px;
		// background: url("#{$img_path}common/icoPdf.gif") no-repeat right center;
	}
	a[target="_blank"],
	a.blank{
		// padding-right: 20px;
		// background: url("#{$img_path}common/listBlank.gif") no-repeat right center;
	}

	// form element
	textarea, input, select{
		margin: 1px;
		padding: 3px;
		// appearance: none;
	}
	input[type="submit"],button{
		@extend %pointer;
	}
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="number"],
	select,
	textarea{
		border: 1px solid #ddd;
		border-radius: 2px;
		background-color: #fbfbfb;
	}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="number"]:focus,
	select:focus,
	textarea:focus{
		border-color: #aaa;
		background-color: #fefefe;
	}

	::-webkit-input-placeholder {color: #999;}
	:-moz-placeholder {color: #999;}
	:-ms-input-placeholder {color: #999;}
	.placeholder{color: #999;}

	// button
	.btn-default,.btn-main,.btn-accent{
		border-radius: 4px;
	}
	a.btn-default,a.btn-main,a.btn-accent{
		@extend %inlineBlock;
		padding: .5em 1em .35em;
		text-decoration: none !important;
	}
	input.btn-default,input.btn-main,input.btn-accent{
		padding: .4em .8em .2em;
	}
	.btn-default:hover,.btn-main:hover,.btn-accent:hover{
		@extend %pointer;
	}
	.btnL{
		padding: .6em 3em .5em !important;
		font-size: fz(14);
	}
	.btnS{
		padding: .2em .3em .1em !important;
		font-size: fz(11);
	}

	.btn-default{
		border: solid 1px $color_line;
		background-color: #f6f6f6;
		box-shadow: 0 3px 0 0 koku($color_line);
		color: #333 !important;
		text-align: center;
		&:hover{
			background-color: #fcfcfc;
		}
		&:active{
			position: relative;
			top: 3px;
			box-shadow: none;
		}
	}

	.btn-main{
		border: solid 1px $color_main;
		background-color: $color_main;
		box-shadow: 0 3px 0 0 koku($color_main);
		color: #fff !important;
		&:hover{
			background-color: lighten($color_main, 10%);
		}
		&:active{
			position: relative;
			top: 3px;
			box-shadow: none;
		}
	}

	.btn-accent{
		border: solid 1px $color_accent;
		background-color: $color_accent;
		box-shadow: 0 3px 0 0 koku($color_accent);
		color: #fff !important;
		&:hover{
			background-color: lighten($color_accent, 10%);
		}
		&:active{
			position: relative;
			top: 3px;
			box-shadow: none;
		}
	}
}
