@charset "utf-8";
// ===================================================================
// mixin、extend用クラス
// ===================================================================


// ===================================================================
// フォントサイズ
// ===================================================================
$fontSizeList: 62%, 70%, 77%, 85%, 93%, 100%, 108%, 116%, 124%, 131%, 139%, 147%, 154%, 162%, 170%, 177%, 185%, 193%, 200%, 208%, 216%, 224%, 231%, 239%, 247%, 254%, 262%, 270%, 277%, 285%, 293%, 300%, 308%;

@function fz($size) {
	@if $size < 8 {
		$size: 8;
	}
	@if $size > 40 {
		$size: 40;
	}
	@return nth($fontSizeList, $size - 7);
}

@mixin text-border($color, $size:1px) {
	text-shadow: $size 0 0 $color,
				 0 $size 0 $color,
				(-$size) 0 0 $color,
				 0 (-$size) 0 $color;
}

@mixin transition($propaty:all, $duration:.3s, $timing:ease-in-out){
	@each $prefix in $set_prefix {
		#{$prefix}transition: $propaty $duration $timing;
	}
}

@function usuku($color,$p:10%) {
	@return desaturate(lighten($color, $p), $p+10) ;
}

@function koku($color,$p:10%) {
	@return desaturate(darken($color, $p), $p) ;
}

// 簡易ロールオーバー
%opacity {
	opacity: $opacity_value;
	-moz-opacity: $opacity_value;
	filter: alpha(opacity=#{$opacity_value * 100});
	-ms-filter: "alpha(opacity=#{$opacity_value * 100})";
}

%limpidity{
	filter: alpha(opacity=0);
	opacity: 0;
	_visibility: hidden;
}


%anime{
  @each $prefix in $set_prefix {
    #{$prefix}transition: color .3s linear,
                        background-color .3s linear,
                        opacity .3s linear,
                        border-color .3s linear;
  }
}

 // clearfix
%clearfix,%cf {
	*zoom: 1;
	&:after {
		content: ".";
		visibility: hidden;
		clear: both;
		display: block;
		height: 0;
		line-height: 0;
		font-size: 0;
	}
}

// inline-block
%inlineBlock,%ib {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

%rapbr{
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
}

%oneline{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

%notxt{
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

%pointer{
	cursor: pointer;
}
%mincho{
	font-family: $minchoFont;
}
