@charset "utf-8";
// ===================================================================
// 設定
// ===================================================================

// @import "compass/css3";

$experimental-support-for-svg: true;

// HTML5の場合は値を「false」から「true」にする
$use_html5: true;

// 汎用クラスを使用するか
$use_extend_object: true;

// 余白調整用のクラスを使用するか
$use_spacing_classes: true;

// 固定幅用のクラスを使用するか
$use_box_width: true;

// box-sizing: border-boxを全体に設定するか
$use_box_sizing: false;

// img要素にmax-widht: 100%を設定するか
$img_max_widthg: true;

// 簡易ロールオーバーの値
$opacity_value: .75;


// ベースフォント
// $base_font: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
$base_font: Helvetica-Light, 'Helvetica Light', Helvetica, YuGothic, "Yu Gothic", "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;

// 明朝
$font_mincho: YuMincho, "Yu Mincho", "游明朝体", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro", "MS PMincho", "ＭＳ Ｐ明朝", serif;

// ベースフォントサイズ
$root-font-size: 62.5%; // for sanitize.scss
$base_font_size: 1.5rem;

$base_letter_spacing: .05em;

$base_margin: 8px;

// sprite image setting
// $icon: sprite-map("icons/*.png", $spacing: 40px, $layout: vertical);

// ページ全体の横幅
$inner_width: 960px;

// メディアクエリの幅設定
$mq_pc_width: 960px;
$mq_tab_width: 590px;

// ベースカラー
$color_bg: #fff;

// メインカラー（ベースカラー）
$color_main: #67c3b4;

// アクセントカラー
$color_accent: #cc3e55;

// ラインカラー
$color_line: #666;

// ベーステキストカラー
$color_font: #333;

