
// color
.fc{
	&-font{
		color: $color_font !important;
	}
	&-main{
		color: $color_main !important;
	}
	&-sub{
		color: $color_sub !important;
	}
	&-accent{
		color: $color_accent !important;
	}
	&-attention{
		color: #d00 !important;
	}
}


// font-size
$start: 10;
$end: 32;
$unit: rem;
.fz{
	@for $i from $start through $end {
		&#{$i}{
			font-size: ($i / 10)#{$unit} !important;
		}
	}
	&-hg{
		font-size: 2.13em !important;
	}
	&-lg{
		font-size: 1.6em !important;
	}
	&-md{
		font-size: 1.2em !important;
	}
	&-sm{
		font-size: .933em !important;
	}
	&-xs{
		font-size: .8em !important;
	}
}

// font-weight
.fw{
	&-n{
		font-weight: normal !important;
	}
	&-b{
		font-weight: bold !important;
	}
}

// font-family
.ff{
	&-mincho{
		font-family: $font_mincho;
	}
}

// line-height
.lh{
	&-xl{ line-height: 2.4 !important;}
	&-lg{ line-height: 1.9 !important;}
	&-md{ line-height: 1.6 !important;}
	&-sm{ line-height: 1.2 !important;}
	&-xs{ line-height: 1 !important;}
}

// text-align
.ta{
	&-l{ text-align: left !important;}
	&-c{ text-align: center !important;}
	&-r{ text-align: right !important;}
}

